/* Убираем отступы и скрываем прокрутку */
body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

/* Растягиваем canvas на весь экран */
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}